<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
	<script type="text/javascript" src="/static/js/public_header.js"></script>
	<script type="text/javascript" src="/static/js/falseReport.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize-8.0.0.css">
    <script type="text/javascript">new VConsole()</script>
    <title>移动端不依赖fixed实现吸顶功能</title>
</head>
<body>
	<div id="app">
        <div class="controls">
            <button class="btn btn-primary" @click="demoIdx = 1">demo1</button>
            <button class="btn btn-primary" @click="demoIdx = 2">demo2</button>
            <button class="btn btn-primary" @click="demoIdx = 3">demo3</button>
            <button class="btn btn-primary" @click="demoIdx = 4">demo4</button>
        </div>
        <div class="wrap" v-if="demoIdx == 1">
            <div class="demo demo1">
                <div class="demo-header demo1-header">
                    <input type="text" placeholder="请输入歌名或歌手">
                </div>
                <div class="demo-list demo1-list">
                    <div class="demo-item demo1-item" v-for="item in 100">{{item}}</div>
                </div>
            </div>
            <p>demo1 是未实现吸顶效果的。</p>
        </div>
        <div class="wrap" v-if="demoIdx == 2">
            <div class="demo demo2">
                <div class="demo-header demo2-header">
                    <input type="text" placeholder="请输入歌名或歌手">
                </div>
                <div class="demo-list demo2-list">
                    <div class="demo-item demo2-item" v-for="item in 100">{{item}}</div>
                </div>
            </div>
            <p>demo2 是使用sticky</p>
        </div>
        <div class="wrap" v-if="demoIdx == 3">
            <div class="demo demo3">
                <div class="demo-header demo3-header">
                    <input type="text" placeholder="请输入歌名或歌手">
                </div>
                <div class="demo-list demo3-list">
                    <div class="demo-item demo3-item" v-for="item in 100">{{item}}</div>
                </div>
            </div>
            <p>demo3 是使用 calc</p>
        </div>
        <div class="wrap" v-if="demoIdx == 4">
            <div class="demo demo4">
                <div class="demo-header demo4-header">
                    <input type="text" placeholder="请输入歌名或歌手">
                </div>
                <div class="demo-list demo4-list">
                    <div class="demo-item demo4-item" v-for="item in 100">{{item}}</div>
                </div>
            </div>
            <p>demo4 是使用 padding + absolute</p>
        </div>
    </div>
    <style>
        .controls{padding: 10px}

        .demo{height: 300px;overflow:hidden;border: 1px solid #f00;}
            .demo-header{border-bottom: 1px solid #eee;background: #0f0;}

        .demo1{overflow: scroll}

        .demo2{overflow: scroll;}
            .demo2-header{position: sticky;top:0}

        .demo3{overflow: scroll;}
            .demo3-header{height: 30px;}
            .demo3-list{position: relative;overflow: scroll;height: calc(100% - 30px)}

        .demo4{overflow: scroll;}
            .demo4-header{position: absolute;z-index: 100;width: 100%}
            .demo4-list{position: relative;overflow: scroll;height: 100%;padding-top: 30px;box-sizing: border-box;}
    </style>
    <script>
        new Vue({
            el: '#app',
            data(){
                return {
                    demoIdx: String(location.hash.match(/\d/)) || 1,
                }
            }
        })
    </script>
	<img title="微信公众号-前端linong" alt="微信公众号-前端linong" src="https://www.lilnong.top/static/img/wx-linong.jpg" style="width: 800px;max-width: 100vw;display:block;margin:0 auto;">
	<!-- <script>
		!(function(c,b,d,a){c[a]||(c[a]={});c[a].config={pid:"bthzxo624i@b8098d5c30312f3",imgUrl:"https://arms-retcode.aliyuncs.com/r.png?"};
		with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
		})(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
	</script> -->
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?0b53b11d3930be87062f66b4b8ce2822";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script type="text/javascript" src="/static/js/public_footer.js"></script>
</body>
</html>