<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
	<script type="text/javascript" src="/static/js/falseReport.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize-8.0.0.css">

	<!-- import stylesheet -->
	<!-- <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css"> -->
	<link href="https://cdn.bootcdn.net/ajax/libs/iview/3.5.4/styles/iview.css" rel="stylesheet">
	<!-- import iView -->
	<!-- <script src="//unpkg.com/iview/dist/iview.min.js"></script> -->
	<script src="https://cdn.bootcdn.net/ajax/libs/iview/3.5.4/iview.min.js"></script>

	<script type="text/javascript">new VConsole()</script>
</head>
<body>
	<div id="app">
	    <i-form :model="formItem" :label-width="160">
	        <Form-item label="密码长度">
	            <Input-Number type="number" v-model="formItem.input" placeholder="" min="1"></Input-Number>
	        </Form-item>
	        <Form-item label="小写字母[a-z]">
                <Checkbox v-model="formItem.checkbox[0]"></Checkbox>
                <i-Input v-model="checkboxValue[0]"></i-Input>
	        </Form-item>
	        <Form-item label="大写字母[A-Z]">
                <Checkbox v-model="formItem.checkbox[1]"></Checkbox>
                <i-Input v-model="checkboxValue[1]"></i-Input>
	        </Form-item>
	        <Form-item label="数字[0-9]">
                <Checkbox v-model="formItem.checkbox[2]"></Checkbox>
                <i-Input v-model="checkboxValue[2]"></i-Input>
	        </Form-item>
	        <Form-item label="特殊字符">
                <Checkbox v-model="formItem.checkbox[3]"></Checkbox>
                <i-Input v-model="checkboxValue[3]"></i-Input>
	        </Form-item>
	        <Form-item>
	            <i-Button type="primary" @click="create">create</i-Button>
	            <i-Button style="margin-left: 8px" @click="location.reload()">reload</i-Button>
	        </Form-item>
	    </i-form>
		<div>{{formItem}}</div>
	    <div>{{tips}}</div>
	    <div>{{tips2}}</div>
	    <div>{{tips3}}</div>
	</div>

	<script>
		// str = ''
		// for(var i = 0; i < 26; i++){
		// 	str+=String.fromCharCode(i+65)
		// }
		new Vue({
			el:'#app',
			data () {
			    return {
			        formItem: {
			            input: 18,
			            checkbox: [true,true,true,false],
			        },
		            checkboxValue:[
			            'abcdefghijklmnopqrstuvwxyz',
						'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
						'0123456789',
						'!@#$%^&*()_+~`|}{[]\\:;?><,./-=',
					],
					tips: '',
					tips2: '',
					tips3: '',
			    }
			},
			methods:{
				create(){
					var s = '';
					var passwordStr = this.checkboxValue.filter((v,i)=>this.formItem.checkbox[i]).join('');
					if(!passwordStr) return this.tips = '无效密码'
					for(var i = 0; i < this.formItem.input; i++){
						s+= passwordStr[passwordStr.length * Math.random() >> 0]
					}
					this.tips = '密码为：'+s+' (不限定出现次数)'
					s = ''
					while(s.length<this.formItem.input){
						for(var j = 0; j < this.checkboxValue.length; j++){
							if(this.formItem.checkbox[j]){
								var entity = Math.floor(this.checkboxValue[j].length*Math.random());
								s+=this.checkboxValue[j][entity]
							}
						}
					}
					this.tips2 = '密码为：'+s.slice(0, this.formItem.input)+' (限定出现次数)'
					this.tips3 = '密码为：'+s.split('').sort(()=>.5-Math.random()).join('').slice(0, this.formItem.input)+' (限定出现次数，并打乱顺序)'
				}
			}
		})
	</script>
	<img title="微信公众号-前端linong" alt="微信公众号-前端linong" src="https://www.lilnong.top/static/img/wx-linong.jpg" style="width: 800px;max-width: 100vw;display:block;margin:0 auto;">
	<script>
		!(function(c,b,d,a){c[a]||(c[a]={});c[a].config={pid:"bthzxo624i@b8098d5c30312f3",imgUrl:"https://arms-retcode.aliyuncs.com/r.png?"};
		with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
		})(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?0b53b11d3930be87062f66b4b8ce2822";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>