<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>elementUI table 组件动态修改表头大小并联动 - www.lilnong.top</title>
	<meta keywords="elementUI table 组件动态修改表头大小并联动">
	<meta description="elementUI table 组件动态修改表头大小并联动">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/public_header.js"></script>
	<script type="text/javascript" src="/static/js/falseReport.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.12/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.4.8/vue-router.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vuex/3.5.1/vuex.min.js"></script>
	<script src="https://cdn.bootcss.com/lodash.js/4.17.15/lodash.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize-8.0.0.css">
	<script type="text/javascript">new VConsole()</script>
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.min.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/Sortable/1.14.0/Sortable.js"></script>
</head>

<body>
	<div id="app">
		<div id="app">
			<div class="drog-wrap" id="sortWrap">
				<!-- <div class="drog-item"> -->
					<span v-for="item in tableTitleList"  class="drog-item" :key="item.prop">
						<el-checkbox v-model="item.isShow" >{{item.label}}</el-checkbox>
						<div class="drag-item icon icon-drag el-icon-rank" style="margin-right: 3em"></div>
					</span>
				<!-- </div> -->
			</div>
			<hr>
			<el-table :data="tableData" border @header-dragend="headerdragend" style="width: 100%">
				<el-table-column v-for="column in tableTitleList" :fixed="column.fixed" :prop="column.prop"
					v-if="column.isShow"
					:label="column.label" :width="column.width">
				</el-table-column>
				<el-table-column fixed="right" label="操作" width="100">
					<template slot-scope="scope">
						<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
						<el-button type="text" size="small">编辑</el-button>
					</template>
				</el-table-column>
			</el-table>
			<hr>
			<el-table :data="tableData" border @header-dragend="headerdragend" style="width: 100%">
				<el-table-column v-for="column in tableTitleList" :fixed="column.fixed" :prop="column.prop"
				v-if="column.isShow"
					:label="column.label" :width="column.width">
				</el-table-column>
				<el-table-column fixed="right" label="操作" width="100">
					<template slot-scope="scope">
						<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
						<el-button type="text" size="small">编辑</el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
	</div>
	<script>
		// querySelector
		function getParentNodes(el, parentSelector){
			// 
			if(!parentSelector) throw new Error('请传入选择器')
			var tag = (parentSelector || '')[0];
			while(el){
				if(tag == '.'){
					// class
					if(el.classList.contains(parentSelector.slice(1))) {
						return el
					}
				}else if(tag == '#'){
					// id
					if(el.id == parentSelector.slice(1)) {
						return el
					}
				}else{
					// tag
					if(el.tagName.toLowerCase() == parentSelector.toLowerCase()) {
						return el
					}
				}
				el = el.parentNode;
			}
		}
	</script>
	<script>
		headerDragendInterval = 0;
		new Vue({
			el: '#app',

			mounted(){
				this.initSort();
			},
			methods: {
				handleClick(row) {
					console.log(row);
				},

				initSort(){
					var el =  document.querySelector('#sortWrap')
					var that = this;
					Sortable.create(el, {
						delay: 100,
						sort: !0,
						forceFallback: !0,
						scrollSensitivity: 100,
						animation: 150,
						ghostClass: "gift-ghost-item",
						chosenClass: "gift-chosen-item",
						onEnd: function(t) {
							that.tableTitleList.splice(
								t.newIndex, 
								0, 
								that.tableTitleList.splice(t.oldIndex, 1)[0]
							)
						}
					})

				},
				changeColumnWidth(colList){
					this.$nextTick(()=>{
						this.tableTitleList.forEach((v, idx) => {
							if(v.widthEnable){
								v.width = (colList[idx] && colList[idx].width) || 'auto'
							}
						})
					})
				},
				headerdragend(newWidth, oldWidth, column, e) {
					// top.console.log('headerdragend', arguments)
					var el = e.target;
					// console.log(getParentNodes(el, 'table'))
					// var clist = el.parentNode.parentNode.parentNode.parentNode.children[0].children;
					var colList = getParentNodes(el, 'table').querySelectorAll('colgroup col');
					// console.log(colList)

					var currentColIndex = this.tableTitleList.findIndex(item=>item.label == column.label);
					if(currentColIndex == -1){
						return console.warn('找不到拖动列')
					}
					// console.log(currentColIndex)
					this.tableTitleList[currentColIndex].widthEnable = true;

					clearInterval(headerDragendInterval)
					headerDragendInterval = setInterval(()=>{
						// console.log('headerDragendInterval', headerDragendInterval)
						if(colList[currentColIndex].width == newWidth){
							this.changeColumnWidth(colList);
							clearInterval(headerDragendInterval)
						}else if(colList[currentColIndex].width == oldWidth){
							// console.info('需要等待渲染')
						}else{
							console.warn('异常值');
							this.changeColumnWidth(colList);
							clearInterval(headerDragendInterval)
						}
					}, 10)
					// setTimeout(() => {
					// 	this.tableTitleList.forEach((v, idx) => {
					// 		v.width = (clist[idx] && clist[idx].width) || 'auto'
					// 	})
					// }, 150)
				}
			},

			data() {
				return {
					tableTitleList: [
						{
							fixed: true,
							prop: "date",
							label: "日期",
							widthEnable: false,
							isShow: true,
							width: "150"
						},
						{
							prop: "name",
							label: "姓名",
							widthEnable: false,
							isShow: true,
							width: "120",
						},
						{
							prop: "province",
							label: "省份",
							widthEnable: false,
							isShow: true,
							width: "120",
						},
						{
							prop: "city",
							label: "市区",
							widthEnable: false,
							isShow: true,
							width: "120",
						},
						{
							prop: "address",
							label: "地址",
							widthEnable: false,
							isShow: true,
							width: "auto",
						},
						{
							prop: "zip",
							label: "邮编",
							widthEnable: false,
							isShow: true,
							width: "auto",
						},
						//   {
						//     fixed:"right",
						//     label:"操作",
						//     width:"100",
						//   }

					],
					tableData: [{
						date: '2016-05-02',
						name: '王小虎',
						province: '上海',
						city: '普陀区',
						address: '上海市普陀区金沙江路 1518 弄',
						zip: 200333
					}, {
						date: '2016-05-04',
						name: '王小虎',
						province: '上海',
						city: '普陀区',
						address: '上海市普陀区金沙江路 1517 弄',
						zip: 200333
					}, {
						date: '2016-05-01',
						name: '王小虎',
						province: '上海',
						city: '普陀区',
						address: '上海市普陀区金沙江路 1519 弄',
						zip: 200333
					}, {
						date: '2016-05-03',
						name: '王小虎',
						province: '上海',
						city: '普陀区',
						address: '上海市普陀区金沙江路 1516 弄',
						zip: 200333
					}]
				}
			}
		})
	</script>
	<img title="微信公众号-前端linong" alt="微信公众号-前端linong" src="https://www.lilnong.top/static/img/wx-linong.jpg"
		style="width: 800px;max-width: 100vw;display:block;margin:0 auto;">
	<script>
		!(function (c, b, d, a) {
			c[a] || (c[a] = {}); c[a].config = { pid: "bthzxo624i@b8098d5c30312f3", imgUrl: "https://arms-retcode.aliyuncs.com/r.png?" };
			with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
		})(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
	</script>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?0b53b11d3930be87062f66b4b8ce2822";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script type="text/javascript" src="/static/js/public_footer.js"></script>
	<script type="text/javascript" src="//www.lilnong.top/static/js/public_hm.js"></script>
</body>

</html>