@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止滚动条跳动 */
@layer base {
  html {
    overflow-y: scroll;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #CBD5E0 transparent;
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #CBD5E0;
    border-radius: 4px;
    border: 2px solid transparent;
  }
}

/* 暗色模式下的滚动条样式 */
@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #4A5568 transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4A5568;
  }
}

/* Cesium 按钮样式 */
.cesium-button {
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 12px;
  margin: 2px 3px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}

.cesium-button:hover {
  background: #48b;
  border-color: #aef;
  box-shadow: 0 0 8px #fff;
}

.cesium-button:active {
  transform: scale(0.9);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 