PORT=3003
API2_BASE_URL=http://127.0.0.1:3002
JOURNAL_DIR=./data/poker-journal
SESSION_CACHE_TTL_MS=300000
SESSION_RECHECK_EVERY_ACTIONS=5
ACTION_TIMEOUT_MS=30000
DISCONNECT_GRACE_MS=30000
RECONNECT_ACTION_TIMEOUT_MS=15000
TABLE_START_STACK=500
SB=5
BB=10
SEAT_LOCK_TTL_MS=10000
RECONNECT_TOKEN_TTL_MS=1800000
GRACE_PERIOD_MS=30000
FINALIZE_GC_MS=300000
ROOM_IDLE_TTL_MS=1800000
AUTO_REBUY_ON_BUST=true
INTERNAL_ADMIN_TOKEN=dev-admin-token
DEV_SKIP_AUTH=false
