PORT=3005
API2_BASE_URL=http://127.0.0.1:3002
SESSION_CACHE_TTL_MS=300000
SESSION_RECHECK_EVERY_ACTIONS=20
CHAT_PING_MS=20000
CHAT_PONG_MS=60000
CHAT_MAX_MSG_BYTES=16384
CHAT_MAX_TEXT=2000
CHAT_HISTORY=200
CHAT_RATE_WINDOW_MS=10000
CHAT_RATE_MAX=30
CHAT_RATE_IP_MAX=150
CHAT_PRESENCE_DEBOUNCE_MS=400
INTERNAL_ADMIN_TOKEN=dev-admin-token
DEV_SKIP_AUTH=false
